@font-face {
    font-family: "cyber31";
    src: url("../../fonts/cyber31.ttf");
}

.menu-title1 {
    -fx-font-size: 60px;
    -fx-text-fill: #ff0000;
    -fx-effect: dropshadow(gaussian, #ff0000, 20, 0.5, 0, 0);
}

.menu-title2 {
    -fx-font-size: 28px;
    -fx-text-fill: #ff0000;
    -fx-effect: dropshadow(gaussian, #ff0000, 20, 0.5, 0, 0);
    -fx-opacity: 0.8;
}

.button {
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(#222, #000);
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(#ff0000, #c84249);
}
