.root {
    -fx-background-color: linear-gradient(to bottom , #000000 ,#061b2c);
    -fx-text-fill: while;
}

.title {
    -fx-font-size: 32px;
    -fx-text-fill: cyan;
    -fx-effect: dropshadow(gaussian , #00ffff, 10 , 0.4 , 0 ,0);
}

.label {
    -fx-text-fill: #e0faff;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: linear-gradient(#00d4ff , #00a3ff);
    -fx-text-fill: #02121a;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 6 16 6 16;
    -fx-cursor: hand;
}

.slider .thumb {
    -fx-background-color: #00ffff;
}