
/* startGame.css - làm đẹp ScoreBoard */

.root {
    -fx-background-color: linear-gradient(to bottom, #0a0a0a, #1b1b1b);
}

/*  ListView bảng điểm */
.scoreboard-list {
    -fx-background-color: #121212;
    -fx-border-color: cyan;
    -fx-border-width: 2;
    -fx-padding: 5;
    -fx-control-inner-background: #1e1e1e;
    -fx-font-size: 16px;
}

.scoreboard-list .list-cell {
    -fx-text-fill: #FFD700;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #FFD700, 10, 0.5, 0, 0);
    -fx-alignment: CENTER;
}

.scoreboard-list .list-cell:hover {
    -fx-background-color: #00ffff22;
}

/*  Label tiêu đề Score */
.score-title {
    -fx-text-fill: cyan;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.current-score {
    -fx-text-fill: #00ffff;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* ===== Pause Menu ===== */
#pauseMenu {
    -fx-background-color: rgba(20,20,20,0.9);
    -fx-padding: 30px;
    -fx-background-radius: 15;
}

#pauseMenu Button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#42a5f5, #1e88e5);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.3, 0, 2);
}

#pauseMenu Button:hover {
    -fx-background-color: #1976D2; /* xanh đậm hơn khi hover */
    -fx-cursor: hand; /* đổi con trỏ thành bàn tay */
}
